:root {
  --green: #71b74b;
  --white: #ffffff;
  --grey: #6a6a6a;
}

.viewHeight {
  height: auto;
  max-height: 100vh;
}

.maskBg {
  background-image: url('../img/mask.svg');
  background-size: cover;
  min-height: 100vh;
}

.navbarBrand {
  position: absolute;
  top: 20px;
  left: 40px;
}

.header {
  font-size: 25px;
  line-height: 22px;
}

.formInput {
  height: 60px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

input[type='password'],
input[type='text'] {
  background-color: #f5f5f5;
}

.submitBtn {
  width: 100%;
  height: 60px;
  border-radius: 4px;
  background-color: #71b74b;
  border: none;
  color: var(--white);
}

.submitBtn:hover {
  background-color: #71b74b;
  border: none;
  color: var(--white);
}

.socialBtn {
  width: 100%;
  height: 60px;
  border-radius: 4px;
  border: 1px solid var(--green);
  background-color: var(--white);
  color: var(--grey);
}

.socialBtn:hover {
  width: 100%;
  height: 60px;
  border-radius: 4px;
  border: 1px solid var(--green);
  background-color: var(--white);
  color: var(--green);
}

.hrSect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
  padding: 0 50px;
}
.hrSect:before,
.hrSect:after {
  content: '';
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.hrSect:before {
  margin: 0px 20px 0px 0px;
}

.hrSect:after {
  margin: 0px 0px 0px 20px;
}

.termsList {
  padding: 0;
  margin: 0;
  list-style: url('../img/bullet.svg');
}

.termsList li {
  padding-left: 1em;
  line-height: 39px;
}
