@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import '~antd/dist/antd.css';

:root {
  --green: #71b74b;
  --grey: #646363;
  --black: #111111;
  --white: #ffffff;
  --danger: #d85307;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--grey);
}

p {
  font-size: 1rem;
}

input:focus {
  border-color: var(--green) !important;
  box-shadow: none !important;
}

input:hover {
  border-color: var(--green) !important;
}

input::placeholder {
  color: var(--grey) !important;
}

/* Buttons */
.button {
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
}

.button-primary {
  background-color: var(--green);
  color: var(--white);
}

.button-outline-danger {
  border: 1px solid var(--danger);
  color: var(--danger);
  background-color: var(--white);
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: var(--green);
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: none;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: var(--green);
  border-right-width: 1px !important;
  z-index: 1;
}

.ant-checkbox:hover .ant-checkbox-inner {
  border-color: var(--green);
}

.text-green {
  color: var(--green);
}

.text-grey {
  color: var(--grey);
}

.text-black {
  color: var(--black);
}

.ant-spin {
  color: var(--green);
}

.ant-spin-dot-item {
  background-color: var(--green);
}

::selection {
  background-color: var(--green) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
